<div class="container">
  <div class="well">
    <h1>Welcome to AskMe.com</h1>

      <h3>Ask me anything...</h3>
      <hr>

      <h4>Questions:</h4>
          {{#each model.questions as |question|}}
          {{question-tile question=question}}
        {{/each}}

    </div>
    <div class="well">
      {{new-question saveQuestion2="saveQuestion3"}}
    </div>
    <div class="well">
      <h3>Favorite Questions:</h3>
      <p>{{display-favs}}</p>
    
    </div>


</div>
