<div class="container">
  <h1>Welcome to AskMe.com</h1>

  <h3>Ask me anything...</h3>
  <hr>

  <ul>
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </ul>

  {{new-question saveQuestion2="saveQuestion3"}}
</div>
