<h1>Welcome to AskMe.com</h1>

aks me anything...
<ul>
  {{#each model as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
