<div class="container">
  <div class="well">
    <h2>{{model.author}}'s Question:</h2>
    {{edit-question question=model edit="edit"}}
    {{question-detail question=model destroyQuestion="destroyQuestion"}}
    {{new-answer saveAnswer="saveAnswer" question=model }}
  </div>
</div>
